/* Using this file instead of /public/style.css so hot reloading works. unlike in
the public folder you would have to keep hitting the F5 (refresh key) */

:root {
    font-size: 16px;

    /* Base color: #28242d */
    /* Base blue:  #3366cc */

    /* Can get colors with the script in utils/make_color.js */

    /* Base pallete */
    --clr-bg: #28242d;
    --clr-bg-secondary: #3c3749;
    --clr-fg: #c9c5d3;
    --clr-fg-secondary: #aea8bd;

    --clr-blue: #3966ff;
    --clr-dark-blue: #1333bf;
    --clr-yellow: #d4b87a;

    --clr-white: #ffffff;
    --clr-black: #000000;

    /* Grays - from base color #28242d */
    --clr-gray-95: #f1f0f4;
    --clr-gray-90: #e4e2e9;
    --clr-gray-85: #d6d3de;
    --clr-gray-80: #c9c5d3;
    --clr-gray-75: #bbb6c8;
    --clr-gray-70: #aea8bd;
    --clr-gray-65: #a099b2;
    --clr-gray-60: #938ba7;
    --clr-gray-55: #857c9c;
    --clr-gray-50: #786e91;
    --clr-gray-45: #6c6383;
    --clr-gray-40: #605874;
    --clr-gray-35: #544d66;
    --clr-gray-30: #484257;
    --clr-gray-25: #3c3749;
    --clr-gray-20: #302c3a;
    --clr-gray-15: #24212c;
    --clr-gray-10: #18161d;
    --clr-gray-5:  #0c0b0f;

    /* Blues - from base color #3366ff */
    --clr-blue-95: #e6ebff;
    --clr-blue-90: #ccd8ff;
    --clr-blue-85: #b3c4ff;
    --clr-blue-80: #99b1ff;
    --clr-blue-75: #809dff;
    --clr-blue-70: #668aff;
    --clr-blue-65: #4d76ff;
    --clr-blue-60: #3363ff;
    --clr-blue-55: #1a4fff;
    --clr-blue-50: #003cff;
    --clr-blue-45: #0036e6;
    --clr-blue-40: #0030cc;
    --clr-blue-35: #002ab3;
    --clr-blue-30: #002499;
    --clr-blue-25: #001e80;
    --clr-blue-20: #001866;
    --clr-blue-15: #00124d;
    --clr-blue-10: #000c33;
    --clr-blue-5:  #00061a;

    --container-width: min(1400px, 90vw);

    --fw-lighter: 100;
    --fw-light: 200;
    --fw-regular: 300;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-bolder: 900;

    --fs-extra-small: 0.8rem;
    --fs-small: 0.9rem;
    --fs-regular: 1.0rem;
    --fs-medium: 1.2rem;
    --fs-large: 1.8rem;
    --fs-extra-large: 2.2rem;

    --brightness-10: brightness(1.1);
    --brightness-20: brightness(1.2);
    --brightness-30: brightness(1.3);
    --brightness-40: brightness(1.4);

    --border-radius-6: 0.6rem;
    --border-radius-4: 0.4rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Utils */

.container {
    width: var(--container-width);
    margin: 0 auto;
}

/* Global styles by element */

html, body {
    height: 100%;
    min-height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    font-family: "Noto Serif", serif;
}

button,
input {
    font-family: "Noto Serif", serif;
}
