/* Newsletter Form */

.newsletter {
    border: 2px solid var(--clr-gray-35);
    border-radius: var(--border-radius-6);
    background-color: var(--clr-gray-20);
    padding: 1.2rem 1.8rem;
}

.newsletter__title {
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    margin-bottom: 1.2rem;
}

.newsletter__label {
    display: block;
    font-size: var(--fs-small);
    margin-bottom: 0.6rem;
}

.newsletter__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: var(--clr-gray-35);
    color: var(--clr-fg);
    border: 0;
    border-radius: var(--border-radius-4);
    padding: 0.4rem 0.9rem;
    font-size: var(--fs-small);
    margin-bottom: 1.2rem;
}

.newsletter__submit {
    border: 0;
    border-radius: var(--border-radius-4);
    padding: 0.4rem 0.9rem;
    width: 100%;
    background-color: var(--clr-blue-65);
    color: var(--clr-blue-90);
    font-size: var(--fs-regular);
}

