:root {
    font-size: 16px;

    /* Base color: #28242d */
    /* Base blue:  #3366cc */

    /* Base pallete */
    --clr-bg: #28242d;
    --clr-fg: #c9c5d3;
    /* --clr-dark-blue: #003399; */

    --clr-blue: #3766d5;

    --clr-white: #ffffff;
    --clr-black: #000000;

    /* Grays - from base color */
    --clr-gray-95: #f1f0f4;
    --clr-gray-90: #e4e2e9;
    --clr-gray-85: #d6d3de;
    --clr-gray-80: #c9c5d3;
    --clr-gray-75: #bbb6c8;
    --clr-gray-70: #aea8bd;
    --clr-gray-65: #a099b2;
    --clr-gray-60: #938ba7;
    --clr-gray-55: #857c9c;
    --clr-gray-50: #786e91;
    --clr-gray-45: #6c6383;
    --clr-gray-40: #605874;
    --clr-gray-35: #544d66;
    --clr-gray-30: #484257;
    --clr-gray-25: #3c3749;
    --clr-gray-20: #302c3a;
    --clr-gray-15: #24212c;
    --clr-gray-10: #18161d;
    --clr-gray-5:  #0c0b0f;

    --container-width: min(1400px, 90vw);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-bolder: 900;
}

/* Utils */
.container {
    width: var(--container-width);
    margin: 0 auto;
}

/* Global styles by element */

* {}

html, body {
    height: 100%;
    min-height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    font-weight: var(--fw-regular);
    font-size: 1rem;
}

/* Class styles */

.header-top {
    border-bottom: 3px solid var(--clr-gray-25);
    padding: 1.4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
}

.header-socials {
    display: flex;
    gap: 0.85rem;
}

.header-socials a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;

    width: 1.8rem;
    position: relative;
}

.header-socials a::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--clr-gray-70);
    height: 2px;
    width: 100%;
    top: calc(100% + 4px);
}

.header-search {
    background-color: var(--clr-gray-25);
    border: 3px solid var(--clr-gray-25);
    border-radius: 0.6rem;
    display: flex;
}

.header-search__input {
    background: transparent;
    color: var(--clr-fg);
    border: none;
    padding: 0.3rem 0.6rem;
    outline: none;
    font-size: 1.0rem;
    width: 320px;
}

.header-search__input::placeholder {
    color: var(--clr-gray-55);
}

.header-search__button {
    background-color: var(--clr-gray-25);
    border: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    width: 38px;
    color: var(--clr-gray-55);
}

.header-main {
    /* Using position relative/absolute instead of display flex so the title
       will always be in the center */
    position: relative;
}

.header-main__weather {
    background-color: var(--clr-gray-25);

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 75px;
}

.header-main__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.2rem;
    padding: 3.5rem 0;
    margin: 0;
}

.header-main__title-accent {
    color: var(--clr-blue);
}

.header-main__apoie {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-topics {
}

.header-topics ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header-topics a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
}

.header-topics__visible-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
