/* Hero */

.support-page__hero-wrapper {
    background-color: var(--clr-gray-80);
    margin: 2rem 0 5rem;
}

.support-page__hero {
    width: min(90vw, 750px);
    padding: 1.8rem 0;
    margin: 0 auto;

    color: var(--clr-gray-15);
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.support-page__hero-logo {
    width: 250px;
    margin: 0.8rem 0 0 0.8rem;
    transform: rotate(-8deg);
}

/* No much use of variables here. Because it is a very unique element. */
.support-page__hero-logo div:first-child {
    line-height: 0.75;
    color: var(--clr-blue);
    font-size: 4.5rem;
    font-weight: 900;
    font-family: var(--ff-roboto);
    text-transform: uppercase;
    letter-spacing: -3px;
    text-align: center;
}

.support-page__hero-logo div:last-child {
    font-family: var(--ff-parisienne);
    color: var(--clr-gray-10);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 0.9;
    text-align: center;
    position: relative;
    top: -0.5rem;
}

.support-page__hero-right {
    align-self: center;

    display: grid;
    gap: 0.8rem;
}

.support-page__hero-accent {
    background-color: var(--clr-yellow-65);
    color: var(--clr-gray-20);
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);
    padding: 0.6rem;
    width: fit-content;
}

.support-page__hero-text {
    color: var(--clr-gray-10);
    font-weight: var(--fw-medium);
    font-size: var(--fs-regular);
}

/* Pricing Section */

.support-page__pricing {
}

.support-page__pricing-title {
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    margin-bottom: 0.8rem;
}

.support-page__pricing-subtitle {
    text-align: center;
    font-size: var(--fs-medium);
    margin-bottom: 3rem;
}

.support-page__pricing-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 5rem;
}

.support-page__pricing-card,
.support-page__pricing-card-highlighted {
    border: 3px solid var(--clr-bg-secondary);
    border-radius: 1.3rem;
    background-color: var(--clr-bg-secondary);
    width: 280px;
    text-align: center;
    padding: 2rem 1.2rem;
    box-shadow: 10px 10px 20px 10px var(--clr-gray-10);

    display: grid;
    gap: 1.2rem;
}

.support-page__pricing-card-highlighted {
    --hl-color: var(--clr-blue-60);
    border-color: var(--hl-color);
    position: relative;
}

.support-page__pricing-card-highlighted:before {
    content: "Mais escolhido";
    background-color: var(--hl-color);
    padding: 0.6rem 0;
    border-radius: 0.6rem;
    position: absolute;
    top: -1.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    font-weight: var(--fw-bold);
}

.support-page__pricing-card-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: var(--fw-bold);
}

.support-page__pricing-card-subtitle {
    font-size: var(--fs-medium);
    color: var(--clr-fg-secondary);
}

.support-page__pricing-card-price {
    font-size: var(--fs-large);
}

.support-page__pricing-card-price span {
    font-size: 3.5rem;
    font-weight: var(--fw-bold);
}

.support-page__pricing-card-button {
    background-color: var(--clr-bg-dark);
    border-radius: var(--border-radius-5);
    padding: 0.8rem 1.6rem;
    color: var(--clr-fg);
    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
}

.support-page__pricing-card-highlighted .support-page__pricing-card-button {
    background-color: var(--hl-color);
}

/* Other values button */

.support-page__pricing-other-values {
    background-color: var(--clr-blue-60);
    border: 0;
    border-radius: var(--border-radius-4);
    box-shadow: 10px 10px 20px 10px var(--clr-bg-dark);
    color: var(--clr-fg);
    padding: 0.8rem 1.6rem;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    margin: 6rem auto 6rem;
    display: block;
}

.support-page__pricing-other-values i {
    margin-left: 1rem;
}

/* Benefits section */

.support-page__benefits {
    background-color: var(--clr-bg-dark);
    max-width: 800px;
    padding: 3rem 2rem;
    margin: 4rem auto;
    border: 3px solid var(--clr-blue-60);
    border-radius: 22px;
    box-shadow: 10px 10px 20px 10px var(--clr-bg-dark);

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2rem;
}

.support-page__benefits .support-page__hero-logo div:first-child {
    color: var(--clr-blue-50);
}

.support-page__benefits .support-page__hero-logo div:last-child {
    color: var(--clr-yellow-50);
}

.support-page__benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.support-page__benefits li::before {
    content: "✔";
    font-size: 28px;
    color: var(--clr-light-green);
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.support-page__benefits li {
    font-size: var(--fs-semi-medium);
}
