.opinion-title {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.opinion-slider {
    border-top: 2px solid var(--clr-gray-25);
    border-bottom: 2px solid var(--clr-gray-25);
    padding: 1rem 2.2rem;
    position: relative;
}

.opinion-slider__cards-wrapper {
    overflow: hidden;
}

.opinion-slider__cards {
    display: flex;
    gap: 1.85rem;
    align-items: center; /* Let cards have independent heights */
}

.opinion-card {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.opinion-card__img-wrapper {
    border-radius: 50%;
    height: 76px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.opinion-card__img {
    height: 80px;
    width: 80px;
}

.opinion-card__name {
    color: var(--clr-blue-80);
    font-size: 1.0rem;
    font-weight: var(--fw-bold);
    margin-bottom: 0.2rem;
}

.opinion-card__text {
    color: var(--clr-gray-65);
    font-size: 0.85rem;
    min-width: 28ch;
    max-width: 32ch;
}

.opinion-slider__btn-left,
.opinion-slider__btn-right {
    background: none;
    border: none;
    border-radius: var(--border-radius-4);
    color: var(--clr-gray-35);
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.opinion-slider__btn-left .active,
.opinion-slider__btn-right .active {
    filter: var(--brightness-40);
}

.opinion-slider__btn-left {
    left: -0.7rem;
}

.opinion-slider__btn-right {
    right: -0.7rem;
}
