.home-content {
    margin-top: 3.5rem;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 300px;
    gap: 2rem;
}

.home-content__left {
    grid-area: left;
}

.home-content__right {
    grid-area: right;
}

.home-article-topic {
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    font-size: var(--fs-extra-small);
    color: var(--clr-gray-60);
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
}

.home-article-title {
    font-size: var(--fs-large);
    margin-bottom: 0.4rem;
}

.home-article-author {
    font-size: var(--fs-extra-small);
    font-weight: var(--fw-regular);
    color: var(--clr-gray-60);
    font-style: italic;
    margin-bottom: 0.4rem;
}

.home-article-date {
    font-size: var(--fs-extra-small);
    font-weight: var(--fw-regular);
    color: var(--clr-gray-60);
    font-style: italic;
    margin-bottom: 0.4rem;
}

.home-article-img {
    background-color: var(--clr-bg-secondary);
    margin-bottom: 0.4rem;
    padding: 2rem;
}

.home-article-subtitle {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
    color: var(--clr-fg-secondary);
}

/* Featured Articles */

.home-content__featured {
    display: grid;
    grid-template-areas:
        "wide  wide wide"
        "small big  big";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.featured-article-wide {
    grid-area: wide;
    margin: 1rem 0;
}

.featured-article-wide__topic {
    line-height: 0.7;
}

.featured-article-wide__title {
    font-size: var(--fs-extra-large);
}

.featured-article-wide__author {
}

.featured-article-wide__subtitle {
}

.featured-article-small {
    grid-area: small;
}

.featured-article-small__img {
    aspect-ratio: 430 / 360;
}

.featured-article-big {
    grid-area: big;
}

.featured-article-big__img {
    aspect-ratio: 785 / 530;
}

/* Sidebar */

.home-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Newsletter Form */

.newsletter {
    border: 2px solid var(--clr-gray-35);
    border-radius: var(--border-radius-6);
    background-color: var(--clr-gray-20);
    padding: 1.2rem 1.8rem;
}

.newsletter__title {
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    margin-bottom: 1.2rem;
}

.newsletter__label {
    display: block;
    font-size: var(--fs-small);
    margin-bottom: 0.6rem;
}

.newsletter__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: var(--clr-gray-35);
    color: var(--clr-fg);
    border: 0;
    border-radius: var(--border-radius-4);
    padding: 0.4rem 0.9rem;
    font-size: var(--fs-small);
    margin-bottom: 1.2rem;
}

.newsletter__submit {
    border: 0;
    border-radius: var(--border-radius-4);
    padding: 0.4rem 0.9rem;
    width: 100%;
    background-color: var(--clr-blue-65);
    color: var(--clr-blue-90);
    font-size: var(--fs-regular);
}

.sidebar__featured-video,
.sidebar__ad,
.sidebar__ad-bigger {
    padding: 2rem;
    background-color: var(--clr-bg-secondary);
}

.sidebar__featured-video {
    aspect-ratio: 190 / 100;
}

.sidebar__ad {
    aspect-ratio: 110 / 100;
}

.sidebar__ad-bigger {
    aspect-ratio: 1 / 2;
}

/* Sidebar - Latest Posts */

.sidebar__latest-posts {}

/* Use the border-bottom on elements but the last to simulate a separator (CSS only) */
.latest-post {
    border-bottom: 2px solid var(--clr-gray-25);
    padding: 2rem 0;
}

.latest-post:last-child {
    border-bottom: 0;
}

.latest-post__title {
    font-size: var(--fs-regular);
    color: var(--clr-gray-90);
}

latest-post__subtitle {
    font-size: var(--fs-small);
}

/* Sidebar - Most Read */

.sidebar__most-read {
    /* Setup a counter to use in the articles ::before pseudo elements */
    /* CSS Only numbers for the articles */
    counter-reset: most-read;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.most-read__header {
    font-size: var(--fs-extra-large);
    font-weight: var(--fw-bold);
}

.most-read {
    position: relative;

    /* Space to place the number of the counter */
    margin-left: 3.2rem;
}

.most-read::before {
    /* Increment the counter everytime you have an most-read article */
    counter-increment: most-read;
    content: counter(most-read);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.2rem;
    font-size: var(--fs-double-extra-large);
    font-weight: var(--fw-regular);
    color: var(--clr-blue-80);
}

.most-read__topic {
    font-weight: var(--fw-regular);
    color: var(--clr-gray-60);
}

.most-read__title {
    font-size: var(--fs-regular);
    color: var(--clr-gray-accent);
}

.most-read__author {
    display: inline-block;
}

.most-read__date {
    display: inline-block;
    border-left: 2px solid var(--clr-gray-50);
    padding-left: 0.6rem;
    margin-left: 0.6rem;
}

/* Sidebar - Videos */

.sidebar__sidebar-videos {
    padding: 1.8rem 1.8rem;
    background-color: var(--clr-bg-accent);
}

.sidebar-videos__header-title {
    font-size: var(--fs-extra-large);
    margin-bottom: 0.5rem;
}

.sidebar-videos__header-subtitle {
    font-size: var(--fs-regular);
    margin-bottom: 1.5rem;
}

.sidebar-videos {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 2rem;
}

.sidebar-video__img {
    aspect-ratio: 16 / 9;
}

.sidebar-video__date {
    color: var(--clr-gray-75);
    font-weight: var(--fw-regular);
    font-size: var(--fs-small);
}

.sidebar-video__title {
    font-size: var(--fs-medium);
    /* font-weight: var(--fw-bold); */
}

.sidebar-video__author {
    font-size: var(--fs-small);
    color: var(--clr-gray-75);
}

.sidebar-videos__more-btn {
    background-color: var(--clr-gray-25);
    color: var(--clr-gray-85);
    border: 0;
    border-radius: var(--border-radius-4);
    padding: 1rem 2.8rem;
    font-size: var(--fs-medium);

    display: block;
    margin: 0 auto;
}
