.header-top {
    border-bottom: 3px solid var(--clr-gray-25);
    padding: 1.4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
}

.header-socials {
    display: flex;
    gap: 0.85rem;
}

.header-socials a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;

    width: 1.8rem;
    position: relative;
}

.header-socials a:hover {
    filter: var(--brightness-40);
}

.header-socials a::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--clr-gray-70);
    height: 2px;
    width: 100%;
    top: calc(100% + 4px);
}

.header-socials a:hover::after {
    filter: var(--brightness-40);
}

.header-search {
    background-color: var(--clr-gray-25);
    border: 3px solid var(--clr-gray-25);
    border-radius: 0.6rem;
    display: flex;
}

.header-search__input {
    background: transparent;
    color: var(--clr-fg);
    border: none;
    padding: 0.3rem 0.6rem;
    outline: none;
    font-size: 1.0rem;
    width: 320px;
}

.header-search__input::placeholder {
    color: var(--clr-gray-55);
}

.header-search__button {
    background-color: var(--clr-gray-25);
    border: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    width: 38px;
    color: var(--clr-gray-55);
}

.header-main {
    /* Using position relative/absolute instead of display flex so the title
       will always be in the center */
    position: relative;
}

.header-main__weather {
    background-color: var(--clr-gray-25);

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 190px;
    max-width: 300px;
    width: 10vw;
    height: 75px;
}

.header-main__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.8rem;
    padding: 3.5rem 0;
    margin: 0;
}

.header-main__title-accent {
    color: var(--clr-blue);
}

.header-main__apoie {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--clr-blue);
    color: var(--clr-fg);
    border: 0;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.header-main__apoie:hover {
    filter: var(--brightness-20);
}

@media (width < 1025px) {
    .header-topics { display: none; }
}

.header-topics__links {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header-topics a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: var(--fw-bold);
}

.header-topics__visible-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header-topics__visible-links a:hover {
    filter: var(--brightness-40);
}

.header-topics-more-container {
    position: relative;
}

.header-topics__button-more {
    background-color: var(--clr-gray-25);
    color: var(--clr-gray-65);
    border: 0;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

.header-topics__button-more:hover {
    filter: var(--brightness-20);
}

.header-topics__nav-more {
    position: absolute;
    top: calc(100% + 0.4rem);
    right: 0;
}

.header-topics__links-more {
    padding: 1rem;
    margin: 0;
    list-style: none;
    border: 2px solid var(--clr-gray-25);
    background-color: var(--clr-bg);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.header-topics__links-more li {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid var(--clr-gray-25);
}

.header-topics__links-more a {
    display: inline-block;
    width: 200px;
    padding: 0.5rem;
}
