.header-topics {
    --gap: 1.5rem;
    --container-width: 1200px;
    --left-w: 155px;

    max-width: var(--container-width);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.header-topics__nav {
    width: calc(var(--container-width) - var(--gap) - var(--left-w));
    overflow: hidden;
}

.header-topics__links {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header-topics__links a,
.header-topics__links-more a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: var(--fw-bold);
    white-space: nowrap; /* Keeps the links text single line */
}

.header-topics__links a:hover,
.header-topics__links-more a:hover {
    filter: var(--brightness-40);
}

.header-topics__button-more {
    background-color: var(--clr-gray-25);
    color: var(--clr-gray-65);
    border: 0;
    border-radius: 0.4rem;
    font-size: 1.0rem;
    padding: 0.6rem 1.2rem;
    min-width: 155px;
    cursor: pointer;
}

.header-topics__button-more:hover {
    filter: var(--brightness-20);
}

.header-topics__nav-more {
    position: relative;
    z-index: 1;
}

.header-topics__links-more {
    position: absolute;
    top: 0.6rem;
    right: 0.3rem;
    padding: 1rem;
    margin: 0;
    list-style: none;
    border: 2px solid var(--clr-gray-25);
    background-color: var(--clr-bg);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    row-rule: 2px solid var(--clr-gray-25);
}

.header-topics__links-more li {
    padding: 0.4rem;
    width: 200px;
}
