.header-top {
    border-bottom: 3px solid var(--clr-gray-25);
    padding: 1.4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
}

.header-socials {
    display: flex;
    gap: 0.85rem;
}

.header-socials a {
    color: var(--clr-gray-70);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;

    width: 1.8rem;
    position: relative;
}

.header-socials a:hover {
    filter: var(--brightness-40);
}

.header-socials a::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--clr-gray-70);
    height: 2px;
    width: 100%;
    top: calc(100% + 4px);
}

.header-socials a:hover::after {
    filter: var(--brightness-40);
}

.header-search {
    background-color: var(--clr-gray-25);
    border: 3px solid var(--clr-gray-25);
    border-radius: 0.6rem;
    display: flex;

    @media (max-width: 715px) {
        display: none;
    }
}

.header-search__input {
    background: transparent;
    color: var(--clr-fg);
    border: none;
    padding: 0.3rem 0.6rem;
    outline: none;
    font-size: 1.0rem;
    width: 320px;
}

.header-search__input::placeholder {
    color: var(--clr-gray-55);
}

.header-search__button {
    background-color: var(--clr-gray-25);
    border: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    width: 38px;
    color: var(--clr-gray-55);
}

.header-main {
    --padding: 0.4rem;
    position: relative; /* To hold absolute children */
    height: 100px;
    margin: 2rem auto;

    @media (max-width: 1100px) {
        height: 78px;
        margin: 1.4rem auto;
    }

    @media (max-width: 824px) {
        height: 50px;
        margin: 0.8rem auto;
    }
}

.header-main__right,
.header-main__left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-main__left {
    left: var(--padding);
}

.header-main__center {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-main__right {
    right: var(--padding);
}

.header-main__weather {
    background-color: var(--clr-gray-25);
    width: clamp(190px, 23vw, 300px);
    height: 75px;

    @media (max-width: 824px) {
        display: none;
    }
}

.header-main__menu-btn {
    font-size: 25px;
    border: 0;
    background-color: var(--clr-bg-secondary);
    color: var(--clr-fg);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    display: none;

    @media (max-width: 824px) {
        display: inline;
    }
}

.header-main .main-logo {
    font-size: clamp(1.8rem, 4.6vw, 3.4rem);

    @media (max-width: 400px) {
        padding-left: 30px;
    }
}

.header-main__apoie {
    background-color: var(--clr-blue);
    color: var(--clr-fg);
    border: 0;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    @media (max-width: 1100px) {
        font-size: 1.05rem;
    }

    @media (max-width: 824px) {
        font-size: 0.90rem;
    }

    @media (max-width: 480px) { display: none; }
}

.header-main__apoie:hover {
    filter: var(--brightness-20);
}
