.layout-footer {
    --fs-clamp-small: clamp(0.8rem, 1.3vw, 0.9rem);
    --fs-clamp-regular: clamp(0.8rem, 1.4vw, 1rem);

    margin-top: 2.5rem;
    padding: 2.5rem 0 5rem;
    background-color: var(--clr-gray-10);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-rule: 2px solid var(--clr-gray-25); /* Adds the divisor line in the gap */
    gap: clamp(1.5rem, 4vw, 3rem);
}

.footer-container section {
    padding: 1rem 0;
}

/* About section */
.footer-about__logo {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.footer-about__address {
    line-height: 1.5;
    font-size: var(--fs-clamp-small);
}

/* nav-links and topics sections */

.footer__nav-links ul,
.footer__topics ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer__nav-links a,
.footer__topics a {
    --color: var(--clr-fg);
    color: var(--color);
    text-decoration: none;
    position: relative;
    font-size: var(--fs-clamp-regular);
}

.footer__nav-links a:hover,
.footer__topics a:hover {
    filter: var(--brightness-40);
}

/* Social links section */

.footer-socials {
    display: grid;
    gap: 1rem;
}

.footer-socials__header {
    margin-bottom: 1.0rem;
    font-size: var(--fs-clamp-regular);
}

.footer-socials__links ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    gap: 0.75rem;
}

.footer-socials__links.socials i {
    margin-right: 0.3rem;
    position: relative;
    top: 3px;
    font-size: clamp(1rem, 2.8vw, 1.3rem);
}

.footer-socials__links.socials a {
    font-size: var(--fs-clamp-regular);
}

/* Footer contact section */

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: start; /* So the button wont auto strech */
    gap: 1.0rem;
}

.footer-contact__header {
    font-weight: var(--fw-bold);
    font-size: var(--fs-clamp-regular);
}

.footer-contact__subheader {
    font-size: var(--fs-clamp-small);
}

.footer-contact__submit {
    border: 0;
    border-radius: var(--border-radius-4);
    color: var(--clr-fg);
    background-color: var(--clr-blue);
    font-weight: var(--fw-bold);
    cursor: pointer;

    font-size: clamp(0.8rem, 1.7vw, 1.2rem);
    padding: 0.4rem clamp(0.9rem, 1.5vw, 1.4rem);
}

.footer-contact__submit:hover {
    filter: var(--brightness-40);
}

@media (max-width: 710px) {
    .layout-footer {
        padding: 2rem 1rem;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-rule: 2px solid var(--clr-gray-25);
        gap: 2rem;
    }

    .footer-about__address,
    .footer-contact__subheader {
        font-size: var(--fs-small);
    }

    .footer__nav-links a,
    .footer__topics a,
    .footer-socials__header,
    .footer-socials__links.socials a,
    .footer-contact__header {
        font-size: var(--fs-regular);
    }

    .footer-socials__links.socials i {
        font-size: 1.3rem;
    }

    .footer-contact__submit {
        font-size: var(--fs-medium);
    }
}

@media (max-width: 510px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
